@use '../abstracts/mixins' as *;

.headerRecomienda {
  background: url('../../images/afiliados.jpg') center center / cover;
  padding: 10rem 5rem;

  @include for-size('tablet-landscape-up') {
    padding: 10rem 20rem;
  }

  img {
    width: 40rem;
    @include for-size('tablet-landscape-up') {
      width: 100%;
    }
  }
}

.programa {
  .d-flex {
    flex-direction: column;

    @include for-size(1100px) {
      flex-direction: row;
    }
  }

  article {
    flex: 1;

    img {
      height: 4rem;
    }

    h2 {
      font-size: 2.6rem;
    }

    p {
      font-size: 2.2rem;

      @include for-size('tablet-landscape-up') {
        font-size: 1.7rem;
      }
    }
  }
}

.afiliarse {
  &.container {
    max-width: 1200px;
  }

  .d-flex {
    flex-direction: column;
    align-items: center;

    article {
      margin-top: 2rem;
    }

    @include for-size(800px) {
      flex-direction: row;
    }
  }

  article {
    img {
      height: 13rem;
    }

    p {
      line-height: 1.5em;
      font-size: 2.6rem;
    }
  }

  &__box--1 {
    article {
      @include minmax(25rem);
    }
  }

  &__box--2 {
    @include for-size(950px) {
      margin-top: -5rem;
    }
    article {
      @include minmax(45rem);
    }
  }
}

.qasection {
  &.container {
    max-width: 1200px;
  }
}
