@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.headerBlockchain {
  background: url(../images/fondeo1.jpg) center center / cover;
  height: calc(100vh - 100px);
  min-height: 600px;
  padding-top: 10rem;

  @include for-size('700px') {
    padding-top: 0;
    align-items: center;
  }

  &__logo {
    width: 100%;
    max-width: 50rem;
  }
}

.headerBlockchainv2,
.bg-multicolor {
  background: url(../images/fondo1.jpg) no-repeat center center / cover;

  &__logo {
    height: 5rem;
  }

  &__content {
    border-radius: 5rem;

    @include for-size('tablet-landscape-up') {
      @include pX(8rem);
    }
  }

  &__subtitle {
    font-size: 2.8rem;
  }
}

.tokenizar {
  background: url(../images/blockchainv2/fondo.jpg) no-repeat center center /
    cover;
}

.fases {
  &--ya {
    background: url(../../images/pasarelaPago/Mesa\ de\ trabajo\ 2.jpg)
      no-repeat center center / cover;
  }
}

.contactanos {
  position: relative;
  padding-bottom: 10rem;
  background-color: $c-red-dark;
  z-index: 1000;

  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__title {
    padding-top: 25rem;

    img {
      padding-right: 25rem;
    }

    h2 {
      font-size: 5rem;
    }

    h3 {
      padding-left: 25rem;
    }
  }

  &__logo {
    height: 5rem;

    @include for-size('phone-only') {
      font-size: 7rem;
    }
  }

  &__form {
    max-width: 100rem;
    margin: 0 auto 0 auto;
    padding: 0 2rem;
  }

  &__input {
    background-color: transparent;
    color: $c-white;
    border: none;
    border-bottom: 2px solid $c-white;
    padding: 1rem 1.5rem;

    &::placeholder {
      color: $c-white;
    }

    &:focus {
      outline: none;
    }
  }
}

.comoCrearNfts {
  &__box {
    width: 80%;
    margin: 0 auto;
  }

  &__img {
    height: 4rem;
    width: 4rem;
  }
}

.cuentanosBlock {
  background: url(../images/nfts/fondo_2.jpg) no-repeat left center / cover;

  &__logo {
    height: 7rem;
  }
}

.metaverso {
  background: url(../../images/metaverso/fondo_1.jpg) no-repeat center center /
    cover;
}

.partnersbox {
  div {
    margin-top: 4rem;
  }
  img {
    // width: 100%;
    // max-width: 25rem;
    // height: 7rem;
    height: 7rem;
    width: 100%;
    max-width: 24rem;
    object-fit: contain;
  }
}
