@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.header {
  flex-direction: column;

  @include for-size(1000px) {
    flex-direction: row;
    padding: 0 8rem;
  }

  &__content {
    flex: 1;
    text-align: center;

    @include for-size('tablet-landscape-up') {
      text-align: start;
    }

    img {
      width: 45rem;
      height: 15rem;
    }

    p {
      line-height: 1.5em;
    }
  }

  &__esquema {
    flex: 2;
    img {
      width: 100%;
      max-width: 90rem;
    }
  }
}

.revolucion {
  background: url('../images/bienvenida.jpg') center center / cover;

  article {
    @include minmax(30rem);

    img {
      height: 10rem;
    }
    p {
      line-height: 1.5em;
    }
  }
}

.emprenya {
  &__title {
    text-align: center;

    @include for-size('tablet-portrait-up') {
      text-align: start;
    }
  }

  article {
    @include minmax(25rem);

    img {
      height: 13rem;
    }

    p {
      font-size: 1.7rem;
      line-height: 1.5em;
    }
  }
}

.naceEmprenya {
  &__title {
    text-align: center;

    @include for-size('tablet-portrait-up') {
      text-align: end;
    }
  }

  &__content {
    margin-top: -0.9rem;
  }
  article {
    flex: 1;
    min-width: 40rem;

    img {
      height: 13rem;
    }

    p {
      font-size: 1.7rem;
      line-height: 1.5em;
    }
  }
}

.clubReconocimiento {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 80%;
    background: $c-blue;
    width: 100%;
    z-index: -1;
    top: 40%;
  }

  &__content {
    article {
      @include minmax(35rem);
      img {
        height: 13rem;
      }
    }
  }
}
