.btn {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border: none;

    &--radius {
        border-radius: 1rem;
    }

    &--carrito-img {
        // width: 9rem;
        height: 10rem !important;
    }
}