@use '../abstracts/mixins' as *;

.columns {
  flex-direction: column;

  &.flex-direction-reverse {
    flex-direction: column-reverse;
  }

  @include for-size('tablet-portrait-up') {
    flex-direction: row;

    &.flex-direction-reverse {
      flex-direction: row-reverse;
    }
  }

  &__box {
    flex: 1;

    p {
      line-height: 1.5em;
    }

    &--1 {
      flex: 2;
    }

    &--arquitectura1 {
      flex: 1;
    }
  }

  &__img {
    width: 100%;

    &--webs {
      height: 30rem;
    }
  }
}
