@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.flexContainer {
  flex-direction: column;
  row-gap: 5rem;

  @include for-size('tablet-portrait-up') {
    flex-direction: row;
    justify-content: space-around;
  }

  &__box {
    flex: 1;

    &--bg-red {
      background: rgba($c-red, 0.2);
      border-radius: 1rem;
    }

    &--bono {
      display: flex;
      flex-direction: column;

      div {
        flex-grow: 1;
      }
    }

    &--clientes {
      @include for-size('tablet-portrait-up') {
        max-width: 30rem;
      }
    }

    &--tokenizar {
      @include for-size('tablet-portrait-up') {
        max-width: 35rem;
      }
    }

    &--radius {
      border-radius: 1rem;
    }
  }

  &__title {
    font-size: 2.6rem;
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 300;
  }

  &__content {
    font-size: 1.7rem;
    line-height: 1.5em;
  }

  &__img {
    height: 15rem;

    &--md {
      height: 8rem;
    }

    &--bono {
      height: 10rem;
    }

    &--conseguiremos {
      height: 20rem;
    }
  }
}
