@use '../abstracts/mixins' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 31.25%;
  scroll-behavior: smooth;

  @include for-size("tablet-portrait-up"){
    font-size: 37.5%;
  }

  @include for-size("tablet-landscape-up"){
    font-size: 50%;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
