@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.container {
  @include pX(2rem);
  max-width: 1200px;
  margin: 0 auto;
}

//! Paddings
.pT-5 {
  padding-top: 5rem;
}

.pB-3 {
  padding-bottom: 3rem;
}

.pL-4 {
  padding-left: 4rem;
}

.pY-1 {
  @include pY(1rem);
}

.pY-2 {
  @include pY(2rem);
}

.pY-3 {
  @include pY(3rem);
}

.pY-5 {
  @include pY(5rem);
}

.pX-2 {
  @include pX(2rem);
}

.pX-3 {
  @include pX(3rem);
}

.pX-5 {
  @include pX(5rem);
}

.pX-6 {
  @include pX(6rem);
}

.pX-8 {
  @include pX(8rem);
}

// ! Margin
.mL-auto {
  margin-left: auto;
}

.mT-auto {
  margin-top: auto;
}

.mT-1 {
  margin-top: 1rem;
}

.mT-2 {
  margin-top: 2rem;
}

.mT-3 {
  margin-top: 3rem !important;
}

.mT-5 {
  margin-top: 5rem !important;
}

.mT-9 {
  margin-top: 9rem;
}

.mR-1 {
  margin-right: 1rem;
}

.mR-2 {
  margin-right: 2rem;
}

// ! Display
.d-block {
  display: block;
}

.d-flex {
  display: flex !important;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-reverse-row {
  flex-direction: row-reverse;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}
// ! Align

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

// !gap
.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.gap-5 {
  gap: 5rem;
}

.gap-10 {
  gap: 10rem;
}

// ! Fonts
.font-jost {
  font-family: 'Jost', sans-serif;
}

// ! Font-size
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 2rem;
}

.fs-md {
  font-size: 2.5rem;
}

.fs-3 {
  font-size: 3rem;
}

.fs-4 {
  font-size: 4rem;
}

.fs-5 {
  font-size: 5rem;
}

.fs-7 {
  font-size: 7rem;
}
// ! Font weight
.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}
// ! Color
.c-white {
  color: $c-white;
}

.c-black {
  color: $c-black-dark;
}

.c-blue {
  color: $c-blue;
}

.c-blue-light {
  color: $c-blue-light;
}

.c-blue-light2 {
  color: $c-blue-light2;
}

.c-blue-light3 {
  color: $c-blue-light3;
}

.c-blue-dark {
  color: $c-blue-dark;
}

.c-green {
  color: $c-green;
}

.c-yellow {
  color: $c-yellow;
}

.c-red {
  color: $c-red;
}
// ! Bg
.bg-blue {
  background: $c-blue;
}

.bg-gray {
  background: $c-gray;
}

.bg-white {
  background: $c-white;
}

.bg-white-light {
  background: $c-white-light;
}

.bg-green {
  background: $c-green;
}

.bg-green-light {
  background-color: $c-green-light;
}

.bg-green-light-2 {
  background-color: $c-green-light-2;
}

.bg-green-dark {
  background-color: $c-green-dark;
}

.bg-yellow {
  background: $c-yellow;
}

.bg-red {
  background: $c-red;
}

.bg-red-darken {
  background: $c-red-darken;
}
// ! Decoration
.text-decoration-none {
  text-decoration: none;
}

// ! text transform
.text-transform-uppercase {
  text-transform: uppercase;
}

// ! border
.border-dark {
  box-shadow: 0 0 0.7rem $c-black;
}

// ! width
.w-100 {
  width: 100%;
}

// ! ul
.list-style-none {
  list-style: none;
}

.nowrap {
  white-space: nowrap;
}