$c-white: #fff;

$c-white-light: #f5fffa;

$c-blue: #3c66b9;

$c-blue-light: #a8d1ff;

$c-blue-light2: #7cb2ee;

$c-blue-light3: #5389f6;

$c-blue-dark: #2a66c0;

$c-gray: #eee;

$c-black: #b3b3b3;

$c-black-dark: #000;

$c-green: #5fd3bd;

$c-green-2: #4dceb5;

$c-green-light: #c2e8dc;

$c-green-light-2: #addfcd;

$c-green-dark: #81c8b0;

$c-yellow: #feb805;

$c-red: #ee7e6b;

$c-red-white: #ffdfd6;

$c-red-2: #db0000;

$c-red-dark: #EA5C44;

$c-red-dark-2: #c0332c;

$c-red-darken: #db3b34;

$c-red-darken-2: #8a232c;

